<h2>The result of the game is <%= @result %></h2>

<a href="https://www.geogebra.org/m/UYXDeKME" target="_blank"><img src ="https://honestaboutmyfaith.files.wordpress.com/2015/03/rock-paper-scissors-lizard-spock.jpg"
alt ="Still too soon" height = "80 "  /></a>
