<h2>How to play</h2>
<p><ul>
  <li>Enter a "/" and either Rock, Paper or Scissors after the "game" in the address bar
    <ul>
      <li><b>Please</b> enter with a capital letter</li>
      </ul>
    </li>
  <li>You will then see the result</li>
</ul></p>
