<h2>Dems the Rules</h2>
<p><ul>
  <li>Choose either Rock, Paper or Scissors</li>
  <li>The computer also chooses</li>
  <li>Paper wraps Rock - Paper Wins</li>
  <li>Paper is cut by scissors - Scissors Wins</li>
  <li>Rock blunts Scissors - Rock Wins</li>
  <li><a href="/game">You are now ready to play! Click here</a></li>
</ul></p>
