<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Best Online Rock Paper Scissors Game</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/game">Rock Paper Scissors</a></li>
      <li><a href="/About-us">About Us</a></li>
      </ul>
  </nav>
  <h1> The Best Online Rock Paper Scissors Game</h1>
  <%= yield %>
</body>
</html>
